@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$background-header: #1d1f25cc;
$background-body: #373c47;
$text-color: #e6eaeb;
$button-color: #00aeda;
$button-color-hover: #0085a7;

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: $text-color;
}

nav {
  position: relative;
  z-index: 999;
  min-height: 5vh;
  display: flex;
  padding: 0vh 30vw;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  background-color: $background-header;
  backdrop-filter: blur(5px);
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: $text-color;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
  
.App__navitem {
    display: inline-block;
    padding: 0px 20px;
    
    a {
      transition: all 0.3s 0s;
    
    }
}

hr {
  height: 0.25rem;
  width: 33%;
  margin: 0;
  background: $button-color;
  border: none;
  transition: all 0.3s 0s;
}

.one:hover ~ hr{
  margin-left: 0%;
}

.two:hover ~ hr{
  margin-left: 33%
}

.three:hover ~ hr{
  margin-left: 66%
}