@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$background-header: #282c34;
$background-body: #373c47;
$text-color: #edf0f1;
$button-color: #00aeda;
$button-color-hover: #0085a7;

nav {
    background-color: $background-header;
    min-height: 5vh;
    display: flex;
    padding: 0vh 20vh;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: white;
  }

  li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: $text-color;
    text-decoration: none;
    list-style: none;
  }

  
.App__navitem {
    display: inline-block;
    padding: 0px 20px;
  
    a {
      transition: all 0.3s ease 0s;
      
      &:hover {
        color: $button-color;
      }
    }
  }
  
  .App__button {
    padding: 9px 25px;
    background-color: $button-color;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    outline: none;
    cursor: pointer;
  
    &:hover {
      background-color: $button-color-hover;
    }
  }